In [2]:
import numpy as np
import pandas as pd 
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import nltk 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import requests
from datetime import datetime

import yfinance as yf

In [3]:
data=yf.download(tickers='ZM', period='max', interval='1d')
data['next day adj close'] = data['Adj Close'].shift(-1)
data.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                557 non-null    datetime64[ns]
 1   Open                557 non-null    float64
 2   High                557 non-null    float64
 3   Low                 557 non-null    float64
 4   Close               557 non-null    float64
 5   Adj Close           557 non-null    float64
 6   Volume              557 non-null    int64
 7   next day adj close  556 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 34.9 KB

# company news
summary is not full

should be grouped by date and mean sentiment

In [7]:
def get_news(company, date_from='2021-06-01', date_to=None):
    '''
    returns dataframe with average sentiment of news headline and sentiment of news summary for every date in a given timeframe
    company: symbol, example ZM
    date_from: string format yyyy-mm-dd
    date_to: string format yyyy-mm-dd
    '''
    sid_obj = SentimentIntensityAnalyzer()
    if date_to is None:
        date_to = datetime.today().strftime("%Y-%m-%d")
    URL = 'https://finnhub.io/api/v1/company-news?symbol={}&from={}&to={}&token=c2si65iad3ic1qis06lg'.format(company, date_from, date_to)
    r = requests.get(URL)
    news_df = pd.DataFrame(r.json())
    news_df['datetime'] = [datetime.utcfromtimestamp(i).strftime('%Y-%m-%d') for i in news_df.datetime]
    news_df.drop(['id','image', 'related','source', 'url'], axis=1, inplace=True)
    news_df['headline_sentiment'] = [sid_obj.polarity_scores(c)['compound'] for c in news_df['headline']]
    news_df['summary_sentiment'] = [sid_obj.polarity_scores(c)['compound'] for c in news_df['summary']]
    
    news_dates = news_df.groupby(['datetime']).mean().sort_index().reset_index()

    news_dates['Date'] = pd.to_datetime(news_dates['datetime'], format='%Y-%m-%d')
    return news_dates

In [9]:
news_df = get_news('ZM', '2021-01-01')
news_df

      datetime  headline_sentiment  summary_sentiment       Date
0   2021-04-23            0.000000           0.571900 2021-04-23
1   2021-04-26            0.239020           0.217180 2021-04-26
2   2021-04-27            0.063880          -0.070620 2021-04-27
3   2021-04-28            0.278463           0.171000 2021-04-28
4   2021-04-29            0.201489           0.124789 2021-04-29
..         ...                 ...                ...        ...
59  2021-06-26            0.812600           0.440400 2021-06-26
60  2021-06-28            0.288457           0.616700 2021-06-28
61  2021-06-29            0.156217           0.458000 2021-06-29
62  2021-06-30            0.199900           0.332918 2021-06-30
63  2021-07-01            0.178480           0.570120 2021-07-01

[64 rows x 4 columns]

In [10]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            64 non-null     object
 1   headline_sentiment  64 non-null     float64
 2   summary_sentiment   64 non-null     float64
 3   Date                64 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 2.1+ KB

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                557 non-null    datetime64[ns]
 1   Open                557 non-null    float64
 2   High                557 non-null    float64
 3   Low                 557 non-null    float64
 4   Close               557 non-null    float64
 5   Adj Close           557 non-null    float64
 6   Volume              557 non-null    int64
 7   next day adj close  556 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 34.9 KB

# Build stock + sentiment news

In [13]:
data = data.merge(news_df, how='inner', on='Date')#.drop(['Date','datetime'],1)
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,next day adj close,datetime_x,headline_sentiment_x,summary_sentiment_x,datetime_y,headline_sentiment_y,summary_sentiment_y
0,2021-04-23,331.489990,338.549988,328.239990,336.880005,336.880005,2454300,336.420013,2021-04-23,0.000000,0.571900,2021-04-23,0.000000,0.571900
1,2021-04-26,337.510010,338.000000,329.209991,336.420013,336.420013,2286700,333.489990,2021-04-26,0.239020,0.217180,2021-04-26,0.239020,0.217180
2,2021-04-27,336.390015,341.679993,330.890015,333.489990,333.489990,2208300,331.250000,2021-04-27,0.063880,-0.070620,2021-04-27,0.063880,-0.070620
3,2021-04-28,330.239990,334.700989,326.045013,331.250000,331.250000,1437600,321.100006,2021-04-28,0.278463,0.171000,2021-04-28,0.278463,0.171000
4,2021-04-29,331.160004,332.500000,318.890015,321.100006,321.100006,3121100,319.570007,2021-04-29,0.201489,0.124789,2021-04-29,0.201489,0.124789

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  47 non-null     datetime64[ns]
 1   Open                  47 non-null     float64
 2   High                  47 non-null     float64
 3   Low                   47 non-null     float64
 4   Close                 47 non-null     float64
 5   Adj Close             47 non-null     float64
 6   Volume                47 non-null     int64
 7   next day adj close    47 non-null     float64
 8   datetime_x            47 non-null     object
 9   headline_sentiment_x  47 non-null     float64
 10  summary_sentiment_x   47 non-null     float64
 11  datetime_y            47 non-null     object
 12  headline_sentiment_y  47 non-null     float64
 13  summary_sentiment_y   47 non-null     float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(2)
memory usage: 5.5+ KB

# News Sentiment
Get company's news sentiment and statistics. This endpoint is only available for US companies.

get only one raw for the last week

buzz
Statistics of company news in the past week.

articlesInLastWeek
buzz
weeklyAverage
companyNewsScore
News score.

sectorAverageBullishPercent
Sector average bullish percent.

sectorAverageNewsScore
Sectore average score.

sentiment
News sentiment.

bearishPercent
bullishPercent
symbol
Requested symbol.

In [11]:
r = requests.get('https://finnhub.io/api/v1/news-sentiment?symbol=ZM&token=c2si65iad3ic1qis06lg')
print(r.json())

{'buzz': {'articlesInLastWeek': 50, 'buzz': 0.9708, 'weeklyAverage': 51.5}, 'companyNewsScore': 0.6739, 'sectorAverageBullishPercent': 0.6643, 'sectorAverageNewsScore': 0.5393, 'sentiment': {'bearishPercent': 0, 'bullishPercent': 1}, 'symbol': 'ZM'}

# Basic Financials
Get company basic financials such as margin, P/E ratio, 52-week high/low etc.

quarterly /  annually

In [20]:
r = requests.get('https://finnhub.io/api/v1/stock/metric?symbol=ZM&metric=all&token=c2si65iad3ic1qis06lg')
print(r.json()['metric'])
print(r.json()['series']['annual'])

{'10DayAverageTradingVolume': 4.40122, '13WeekPriceReturnDaily': 5.77673, '26WeekPriceReturnDaily': -7.71013, '3MonthAverageTradingVolume': 69.97736, '52WeekHigh': 588.84, '52WeekHighDate': '2020-10-19', '52WeekLow': 216.75, '52WeekLowDate': '2020-06-12', '52WeekPriceReturnDaily': 64.99302, '5DayPriceReturnDaily': 9.04762, 'assetTurnoverAnnual': 0.80493, 'assetTurnoverTTM': 0.82436, 'beta': None, 'bookValuePerShareAnnual': 13.15203, 'bookValuePerShareQuarterly': 14.23621, 'bookValueShareGrowth5Y': None, 'capitalSpendingGrowth5Y': None, 'cashFlowPerShareAnnual': 2.35192, 'cashFlowPerShareTTM': 3.01615, 'cashPerSharePerShareAnnual': 14.45997, 'cashPerSharePerShareQuarterly': 15.92322, 'currentDividendYieldTTM': 0, 'currentEv/freeCashFlowAnnual': 168.5417, 'currentEv/freeCashFlowTTM': 137.7837, 'currentRatioAnnual': 3.80396, 'currentRatioQuarterly': 3.49458, 'dividendGrowthRate5Y': None, 'dividendPerShare5Y': None, 'dividendPerShareAnnual': None, 'dividendYield5Y': None, 'dividendYieldIndicatedAnnual': None, 'dividendsPerShareTTM': 0, 'ebitdPerShareTTM': 2.9829, 'ebitdaCagr5Y': None, 'ebitdaInterimCagr5Y': None, 'epsBasicExclExtraItemsAnnual': 2.36575, 'epsBasicExclExtraItemsTTM': 3.02981, 'epsExclExtraItemsAnnual': 2.25248, 'epsExclExtraItemsTTM': 2.89816, 'epsGrowth3Y': None, 'epsGrowth5Y': None, 'epsGrowthQuarterlyYoy': 717.8732, 'epsGrowthTTMYoy': 1507.321, 'epsInclExtraItemsAnnual': 2.25248, 'epsInclExtraItemsTTM': 2.89816, 'epsNormalizedAnnual': 2.28508, 'focfCagr5Y': None, 'freeCashFlowAnnual': 1385.362, 'freeCashFlowPerShareTTM': 5.28122, 'freeCashFlowTTM': 1588.059, 'freeOperatingCashFlow/revenue5Y': None, 'freeOperatingCashFlow/revenueTTM': 48.42473, 'grossMargin5Y': None, 'grossMarginAnnual': 68.99755, 'grossMarginTTM': 70.01694, 'inventoryTurnoverAnnual': None, 'inventoryTurnoverTTM': None, 'longTermDebt/equityAnnual': 0, 'longTermDebt/equityQuarterly': 0, 'marketCapitalization': 107958.2, 'monthToDatePriceReturnDaily': 10.5179, 'netDebtAnnual': -4244.713, 'netDebtInterim': -4689.579, 'netIncomeEmployeeAnnual': 193360.9, 'netIncomeEmployeeTTM': 197370.4, 'netInterestCoverageAnnual': None, 'netInterestCoverageTTM': None, 'netMarginGrowth5Y': None, 'netProfitMargin5Y': None, 'netProfitMarginAnnual': 25.35732, 'netProfitMarginTTM': 26.61346, 'operatingMargin5Y': None, 'operatingMarginAnnual': 24.88708, 'operatingMarginTTM': 26.30862, 'payoutRatioAnnual': 0, 'payoutRatioTTM': 0, 'pbAnnual': 27.85883, 'pbQuarterly': 25.73719, 'pcfShareTTM': 119.034, 'peBasicExclExtraTTM': 105.4753, 'peExclExtraAnnual': 162.6651, 'peExclExtraHighTTM': None, 'peExclExtraTTM': 126.425, 'peExclLowTTM': None, 'peInclExtraTTM': 126.425, 'peNormalizedAnnual': 160.3445, 'pfcfShareAnnual': 77.9278, 'pfcfShareTTM': 67.98124, 'pretaxMargin5Y': None, 'pretaxMarginAnnual': 25.57299, 'pretaxMarginTTM': 26.76648, 'priceRelativeToS&P50013Week': -1.79647, 'priceRelativeToS&P50026Week': -20.39906, 'priceRelativeToS&P5004Week': 16.94172, 'priceRelativeToS&P50052Week': 16.61743, 'priceRelativeToS&P500Ytd': -3.94504, 'psAnnual': 40.71793, 'psTTM': 32.91973, 'ptbvAnnual': 28.1403, 'ptbvQuarterly': 25.96561, 'quickRatioAnnual': None, 'quickRatioQuarterly': None, 'receivablesTurnoverAnnual': 12.77343, 'receivablesTurnoverTTM': 10.51341, 'revenueEmployeeAnnual': 762544.8, 'revenueEmployeeTTM': 741618.8, 'revenueGrowth3Y': 159.6409, 'revenueGrowth5Y': None, 'revenueGrowthQuarterlyYoy': 191.3873, 'revenueGrowthTTMYoy': 295.6674, 'revenuePerShareAnnual': 8.8934, 'revenuePerShareTTM': 10.90605, 'revenueShareGrowth5Y': None, 'roaRfy': 20.41082, 'roaa5Y': None, 'roae5Y': None, 'roaeTTM': 34.22971, 'roeRfy': 28.60782, 'roeTTM': 21.93909, 'roi5Y': None, 'roiAnnual': 26.92472, 'roiTTM': 32.35931, 'tangibleBookValuePerShareAnnual': 13.06911, 'tangibleBookValuePerShareQuarterly': 14.11738, 'tbvCagr5Y': None, 'totalDebt/totalEquityAnnual': 0, 'totalDebt/totalEquityQuarterly': 0, 'totalDebtCagr5Y': None, 'yearToDatePriceReturnDaily': 8.62089}
{'cashRatio': [{'period': '2020-01-31', 'v': 0.8481382739717821}, {'period': '2019-01-31', 'v': 0.4176420005120092}, {'period': '2018-01-31', 'v': 0.5274555297757154}], 'currentRatio': [{'period': '2020-01-31', 'v': 3.2817}, {'period': '2019-01-31', 'v': 1.8164}, {'period': '2018-01-31', 'v': 2.6728}], 'ebitPerShare': [{'period': '2020-01-31', 'v': 0.0499}, {'period': '2019-01-31', 'v': 0.0241}, {'period': '2018-01-31', 'v': -0.0189}, {'period': '2017-01-31', 'v': 0}], 'eps': [{'period': '2020-01-31', 'v': 0.0995}, {'period': '2019-01-31', 'v': 0.0296}, {'period': '2018-01-31', 'v': -0.0149}, {'period': '2017-01-31', 'v': -0.0001}], 'grossMargin': [{'period': '2020-01-31', 'v': 0.8147}, {'period': '2019-01-31', 'v': 0.8154}, {'period': '2018-01-31', 'v': 0.7968}, {'period': '2017-01-31', 'v': 0.7949}], 'longtermDebtTotalAsset': [{'period': '2020-01-31', 'v': 0}, {'period': '2019-01-31', 'v': 0.0419}, {'period': '2018-01-31', 'v': 0}], 'longtermDebtTotalCapital': [{'period': '2020-01-31', 'v': 0}, {'period': '2019-01-31', 'v': 0.089}, {'period': '2018-01-31', 'v': 0}], 'longtermDebtTotalEquity': [{'period': '2020-01-31', 'v': 0}, {'period': '2019-01-31', 'v': 0.0977}, {'period': '2018-01-31', 'v': 0}], 'netDebtToTotalCapital': [{'period': '2020-01-31', 'v': -0.3395}, {'period': '2019-01-31', 'v': -0.2921}, {'period': '2018-01-31', 'v': -0.272}], 'netDebtToTotalEquity': [{'period': '2020-01-31', 'v': -0.3395}, {'period': '2019-01-31', 'v': -0.3206}, {'period': '2018-01-31', 'v': -0.272}], 'netMargin': [{'period': '2020-01-31', 'v': 0.0406}, {'period': '2019-01-31', 'v': 0.0229}, {'period': '2018-01-31', 'v': -0.0252}, {'period': '2017-01-31', 'v': -0.0002}], 'operatingMargin': [{'period': '2020-01-31', 'v': 0.0204}, {'period': '2019-01-31', 'v': 0.0187}, {'period': '2018-01-31', 'v': -0.0319}, {'period': '2017-01-31', 'v': 0}], 'pretaxMargin': [{'period': '2020-01-31', 'v': 0.0423}, {'period': '2019-01-31', 'v': 0.0253}, {'period': '2018-01-31', 'v': -0.0232}, {'period': '2017-01-31', 'v': 0.0026}], 'salesPerShare': [{'period': '2020-01-31', 'v': 2.4485}, {'period': '2019-01-31', 'v': 1.2891}, {'period': '2018-01-31', 'v': 0.5908}, {'period': '2017-01-31', 'v': 0.2372}], 'sgaToSale': [{'period': '2020-01-31', 'v': 0.1853}, {'period': '2019-01-31', 'v': 0.1846}, {'period': '2018-01-31', 'v': 0.2032}, {'period': '2017-01-31', 'v': 0.2051}], 'totalDebtToEquity': [{'period': '2020-01-31', 'v': 0}, {'period': '2019-01-31', 'v': 0.0977}, {'period': '2018-01-31', 'v': 0}], 'totalDebtToTotalAsset': [{'period': '2020-01-31', 'v': 0}, {'period': '2019-01-31', 'v': 0.0419}, {'period': '2018-01-31', 'v': 0}], 'totalDebtToTotalCapital': [{'period': '2020-01-31', 'v': 0}, {'period': '2019-01-31', 'v': 0.089}, {'period': '2018-01-31', 'v': 0}], 'totalRatio': [{'period': '2020-01-31', 'v': 2.8292}, {'period': '2019-01-31', 'v': 1.7514}, {'period': '2018-01-31', 'v': 2.6178}]}

# Recommendation Trends
Get latest analyst recommendation trends for a company.

per month

symbol
Company symbol.

buy
Number of recommendations that fall into the Buy category

hold
Number of recommendations that fall into the Hold category

period
Updated period

sell
Number of recommendations that fall into the Sell category

strongBuy
Number of recommendations that fall into the Strong Buy category

strongSell
Number of recommendations that fall into the Strong Sell category

In [84]:
def get_recommendation_trends(company):
    r = requests.get('https://finnhub.io/api/v1/stock/recommendation?symbol=ZM&token=c2si65iad3ic1qis06lg')
    recommendation_df = pd.DataFrame(r.json())
    dfs = []
    for i, month in recommendation_df.period.iteritems():
        period = month
        df_month = pd.DataFrame({
        'period': pd.date_range(
            start = pd.Timestamp(period),                        
            end = pd.Timestamp(period) + pd.offsets.MonthEnd(0),  # <-- 2018-08-31 with MonthEnd
            freq = 'D'
            )
        })
        df_month['month'] = month
        dfs.append(df_month)
    df = pd.concat(dfs)
    df.period = [datetime.strftime(x, '%Y-%m-%d') for x in df.period]
    df = df.merge(recommendation_df,how='left', left_on='month', right_on='period')
    df.drop(['month','period_y'], axis=1, inplace=True)
    df['Date'] = pd.to_datetime(df['period_x'], format='%Y-%m-%d')
    return df.drop(['period_x'],1)

In [85]:
trend_df = get_recommendation_trends('ZM')
trend_df

     buy  hold  sell  strongBuy  strongSell symbol       Date
0      9    14     0         10           1     ZM 2021-06-01
1      9    14     0         10           1     ZM 2021-06-02
2      9    14     0         10           1     ZM 2021-06-03
3      9    14     0         10           1     ZM 2021-06-04
4      9    14     0         10           1     ZM 2021-06-05
..   ...   ...   ...        ...         ...    ...        ...
787    0     3     4          1           3     ZM 2019-05-27
788    0     3     4          1           3     ZM 2019-05-28
789    0     3     4          1           3     ZM 2019-05-29
790    0     3     4          1           3     ZM 2019-05-30
791    0     3     4          1           3     ZM 2019-05-31

[792 rows x 7 columns]

In [86]:
trend_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 792 entries, 0 to 791
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   buy         792 non-null    int64
 1   hold        792 non-null    int64
 2   sell        792 non-null    int64
 3   strongBuy   792 non-null    int64
 4   strongSell  792 non-null    int64
 5   symbol      792 non-null    object
 6   Date        792 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 49.5+ KB

# build stock + news sentiment + recommendation

In [87]:
data = data.merge(trend_df, how='inner', on='Date')#.drop(['Date','datetime'],1)
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,next day adj close,datetime,headline_sentiment,summary_sentiment,buy,hold,sell,strongBuy,strongSell,symbol
0,2020-05-26,169.100006,169.690002,163.119995,164.000000,164.000000,6689700,161.970001,2020-05-26,0.202300,0.848100,8,15,4,8,0,ZM
1,2021-04-19,327.519989,337.795013,320.500000,324.329987,324.329987,3131900,321.779999,2021-04-19,-0.022191,0.046955,12,14,1,9,1,ZM
2,2021-04-20,326.730011,327.549988,316.359985,321.779999,321.779999,2282500,322.760010,2021-04-20,0.225430,0.423340,12,14,1,9,1,ZM
3,2021-04-21,317.010010,323.109985,313.500000,322.760010,322.760010,1917500,328.320007,2021-04-21,0.139536,0.305936,12,14,1,9,1,ZM
4,2021-04-22,322.665009,338.049988,322.665009,328.320007,328.320007,3328300,336.880005,2021-04-22,0.092689,0.255689,12,14,1,9,1,ZM

# Social Sentiment
Get social sentiment for stocks on Reddit and Twitter. This endpoint is currently in Beta.

several per day

In [37]:
r = requests.get('https://finnhub.io/api/v1/stock/social-sentiment?symbol=ZM&token=c2si65iad3ic1qis06lg&from=2021-06-01')
print(r.json()['reddit'][0:10])
reddit_df = pd.DataFrame(r.json()['reddit'])
reddit_df.head()

[{'atTime': '2021-06-13 22:00:00', 'mention': 1, 'positiveScore': 0, 'negativeScore': 0.980246, 'positiveMention': 0, 'negativeMention': 1, 'score': -0.980246}, {'atTime': '2021-06-13 00:00:00', 'mention': 26, 'positiveScore': 0, 'negativeScore': 0, 'positiveMention': 0, 'negativeMention': 0, 'score': 0}, {'atTime': '2021-06-12 23:00:00', 'mention': 86, 'positiveScore': 0, 'negativeScore': 0, 'positiveMention': 0, 'negativeMention': 0, 'score': 0}, {'atTime': '2021-06-12 22:00:00', 'mention': 29, 'positiveScore': 0, 'negativeScore': 0, 'positiveMention': 0, 'negativeMention': 0, 'score': 0}, {'atTime': '2021-06-12 21:00:00', 'mention': 17, 'positiveScore': 0, 'negativeScore': 0, 'positiveMention': 0, 'negativeMention': 0, 'score': 0}, {'atTime': '2021-06-11 21:00:00', 'mention': 1, 'positiveScore': 0.9996642, 'negativeScore': 0, 'positiveMention': 1, 'negativeMention': 0, 'score': 0.9996642}, {'atTime': '2021-06-11 18:00:00', 'mention': 1, 'positiveScore': 0, 'negativeScore': 0.91490155, 'positiveMention': 0, 'negativeMention': 1, 'score': -0.91490155}, {'atTime': '2021-06-11 15:00:00', 'mention': 1, 'positiveScore': 0.9936494, 'negativeScore': 0, 'positiveMention': 1, 'negativeMention': 0, 'score': 0.9936494}, {'atTime': '2021-06-10 18:00:00', 'mention': 1, 'positiveScore': 0, 'negativeScore': 0, 'positiveMention': 0, 'negativeMention': 0, 'score': 0}, {'atTime': '2021-06-10 17:00:00', 'mention': 1, 'positiveScore': 0, 'negativeScore': 0, 'positiveMention': 0, 'negativeMention': 0, 'score': 0}]

,atTime,mention,positiveScore,negativeScore,positiveMention,negativeMention,score
0,2021-06-13 22:00:00,1,0.0,0.980246,0,1,-0.980246
1,2021-06-13 00:00:00,26,0.0,0.000000,0,0,0.000000
2,2021-06-12 23:00:00,86,0.0,0.000000,0,0,0.000000
3,2021-06-12 22:00:00,29,0.0,0.000000,0,0,0.000000
4,2021-06-12 21:00:00,17,0.0,0.000000,0,0,0.000000

# list of companies

8124

description
Symbol description

displaySymbol
Display symbol name.

symbol
Unique symbol used to identify this symbol used in /stock/candle endpoint.

type
Security type.

In [35]:
r = requests.get('https://finnhub.io/api/v1/search?token=c2si65iad3ic1qis06lg')
print(r.json()['result'][0:10])
print(len(r.json()['result']))

[{'description': 'Forex.com AUD/JPY', 'displaySymbol': 'AUD/JPY', 'symbol': 'FOREX:401484303', 'type': 'FX'}, {'description': 'ZB QUN/BTC', 'displaySymbol': 'QUN/BTC', 'symbol': 'ZB:qun_btc', 'type': 'Crypto'}, {'description': 'Binance NMR/USDT', 'displaySymbol': 'NMR/USDT', 'symbol': 'BINANCE:NMRUSDT', 'type': 'Crypto'}, {'description': 'Kucoin LYM/USDT', 'displaySymbol': 'LYM/USDT', 'symbol': 'KUCOIN:LYM-USDT', 'type': 'Crypto'}, {'description': 'BITFINEX GOT/USD', 'displaySymbol': 'GOT/USD', 'symbol': 'BITFINEX:GOTUSD', 'type': 'Crypto'}, {'description': 'Huobi SALT/BTC', 'displaySymbol': 'SALT/BTC', 'symbol': 'HUOBI:saltbtc', 'type': 'Crypto'}, {'description': 'FXPIG UKOIL UKOIL', 'displaySymbol': 'UKOIL352/USD', 'symbol': 'FXPIG:352', 'type': 'Oil'}, {'description': 'BITFINEX ETP/ETH', 'displaySymbol': 'ETP/ETH', 'symbol': 'BITFINEX:ETPETH', 'type': 'Crypto'}, {'description': 'Binance TRX/PAX', 'displaySymbol': 'TRX/PAX', 'symbol': 'BINANCE:TRXPAX', 'type': 'Crypto'}, {'description': 'Kucoin BTT/TRX', 'displaySymbol': 'BTT/TRX', 'symbol': 'KUCOIN:BTT-TRX', 'type': 'Crypto'}]
8124